In [1]:
import pandas as pd
from os import listdir
from os.path import isfile, join

In [2]:
# Find files
path = "Final Spreadsheets"
files = [f for f in listdir(path) if isfile(join(path, f))]

In [9]:
# Loop through files
df = pd.read_csv(path+"/Albuquerque_Final_2021-03-22.csv")
df = df.iloc[0:0]

for file in files:
    # Read data
    tmpdf = pd.read_csv(path+"/"+file)
    df = df.append(tmpdf)

In [11]:
df = df.drop_duplicates()
df.to_csv('standard_dataset.csv', index=False)

In [10]:
df

,most_recent_observation,most_recent_observation_type,common_name,scientific_name,city,state,longitude_coordinate,latitude_coordinate,address,condition,...,retired_date,location_type,zipcode,neighborhood,location_name,ward,district,overhead_utility,diameter_breast_height_CM,percent_population
0,6/17/2020,inventory_date,Locust,NaN,Albuquerque,New Mexico,-106.568366,35.060456,NaN,dead/dying,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6/9/2020,inventory_date,Oak,Quercus,Albuquerque,New Mexico,-106.655037,35.139272,1641 Tierra Del Rio Northwest,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6/3/2020,inventory_date,Ash,Fraxinus,Albuquerque,New Mexico,-106.581127,35.052176,Us Veterans Hospital Loop,dead/dying,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/3/2020,inventory_date,Scotch pine,Pinus sylvestris,Albuquerque,New Mexico,-106.575056,35.052450,1606 San Pedro Drive Southeast,dead/dying,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/29/2020,inventory_date,Honeylocust,Gleditsia triacanthos,Albuquerque,New Mexico,-106.716539,35.149632,5700 Bogart Street Northwest,good,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17449,NaN,NaN,NaN,Zelkova serrata,Worcester,Massachusetts,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17450,NaN,NaN,NaN,Zelkova serrata,Worcester,Massachusetts,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17451,NaN,NaN,NaN,Zelkova serrata,Worcester,Massachusetts,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17452,NaN,NaN,NaN,Zelkova serrata,Worcester,Massachusetts,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17453,NaN,NaN,NaN,Zelkova serrata,Worcester,Massachusetts,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_final[df_final['diameter_breast_height_CM'] ]

KeyError: True

In [31]:
columns

['city',
 'state',
 'native',
 'scientific_name',
 'condition',
 'diameter_breast_height_CM',
 'diameter_breast_height_binned_CM',
 'latitude_coordinate',
 'longitude_coordinate']