In [2]:
import pandas as pd
from os import listdir
from os.path import isfile, join

In [5]:
# Find files
path = "Final Spreadsheets"
files = [f for f in listdir(path) if isfile(join(path, f))]

In [23]:
# loop through files and get common column names
columns = []
# loop through files
for file in files:
    # Read files first 10 rows
    data = pd.read_csv(path+"/"+file, nrows = 10)
    # Load data if doesnt exist
    if len(columns) == 0:
        columns = data.columns.tolist()
        columns = [x.lower() for x in columns]
    # Get intersection
    else:
        temp_list = data.columns.tolist()
        temp_list = [x.lower() for x in temp_list]
        columns = list(set(columns) & set(temp_list)) 
        
# Add others columns that are deemed necessary
columns.extend(['latitude','longitude'])

In [48]:
# Get data in one dataframe

# Store result in this master dataframe
df_final = pd.DataFrame(columns = columns)

# Loop through files
for file in files:
    
    # Create temp dataframe
    df_temp = pd.DataFrame(columns = columns)
    # Read data
    data = pd.read_csv(path+"/"+file)
    # Get column names
    column_names = data.columns.tolist()
    
    # Check if data has lat and long data
    if any('latitude' in string for string in column_names) and any('longitude' in string for string in column_names):
        # Find column names containing lat and long
        for name in column_names:
            if name.find('latitude') == 0:
                lat_column = name
            if name.find('longitude') == 0:
                long_column = name
        
        # Capture data
        city = data['city']
        state = data['state']
        latitude = data[lat_column]
        longitude = data[long_column]
        
        # Store in temp dataframe
        df_temp['city'] = city
        df_temp['state'] = state
        df_temp['latitude'] = latitude
        df_temp['longitude'] = longitude
        
        # append in master dataframe
        df_final = df_final.append(df_temp)
    else:
        continue

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (4,38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (18,20,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (24,25,26,27,28,29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (3,31,34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,9,10,21,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (9,45) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (16,17,18,19,20,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (4,5,9,11,12,17,18,34,37,39,57,67,70) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (26,27,33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (23,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (4,14,15,17,19,21,28,34,35,36,37,38,40,45,46,50,51,54,56,62,68,71,72,75,82) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (0,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [55]:
df_final = df_final.drop_duplicates()
df_final = df_final.dropna()
df_final.to_csv('standard_dataset.csv')

In [31]:
any('latitude' in string for string in coordinates)

False

In [54]:
df_final.dropna()

               city       state   latitude   longitude
0        Santa Rosa  California  38.476825 -122.746857
1        Santa Rosa  California  38.476821 -122.746913
2        Santa Rosa  California  38.476628 -122.746994
3        Santa Rosa  California  38.476619 -122.746992
4        Santa Rosa  California  38.476506 -122.746970
...             ...         ...        ...         ...
715101  Los Angeles  California   0.000000    0.000000
715102  Los Angeles  California   0.000000    0.000000
715103  Los Angeles  California   0.000000    0.000000
715104  Los Angeles  California   0.000000    0.000000
715105  Los Angeles  California   0.000000    0.000000

[3661776 rows x 4 columns]

In [51]:
df_final.shape

(3724070, 4)