In [2]:
import pandas as pd
from os import listdir
from os.path import isfile, join

In [5]:
# Find files
path = "Final Spreadsheets"
files = [f for f in listdir(path) if isfile(join(path, f))]

In [23]:
# loop through files and get common column names
columns = []
# loop through files
for file in files:
    # Read files first 10 rows
    data = pd.read_csv(path+"/"+file, nrows = 10)
    # Load data if doesnt exist
    if len(columns) == 0:
        columns = data.columns.tolist()
        columns = [x.lower() for x in columns]
    # Get intersection
    else:
        temp_list = data.columns.tolist()
        temp_list = [x.lower() for x in temp_list]
        columns = list(set(columns) & set(temp_list)) 
        
# Add others columns that are deemed necessary
columns.extend(['latitude','longitude'])

In [47]:
# Get data in one dataframe

# Store result in this master dataframe
df_final = pd.DataFrame(columns = columns)

# Loop through files
for file in files:
    
    # Create temp dataframe
    df_temp = pd.DataFrame(columns = columns)
    # Read data
    data = pd.read_csv(path+"/"+file)
    # Get column names
    column_names = data.columns.tolist()
    
    # Check if data has lat and long data
    if any('latitude' in string for string in column_names) and any('longitude' in string for string in column_names):
        # Find column names containing lat and long
        for name in column_names:
            if name.find('latitude') == 0:
                lat_column = name
            if name.find('longitude') == 0:
                long_column = name
        
        # Capture data
        city = data['city']
        state = data['state']
        latitude = data[lat_column]
        longitude = data[long_column]
        
        # Store in temp dataframe
        df_temp['city'] = city
        df_temp['state'] = state
        df_temp['latitude'] = latitude
        df_temp['longitude'] = longitude
        
        # append in master dataframe
        df_final = df_final.append(df_temp)
    else:
        continue

            city       state   latitude   longitude
0     Santa Rosa  California  38.476825 -122.746857
1     Santa Rosa  California  38.476821 -122.746913
2     Santa Rosa  California  38.476628 -122.746994
3     Santa Rosa  California  38.476619 -122.746992
4     Santa Rosa  California  38.476506 -122.746970
...          ...         ...        ...         ...
3011  Santa Rosa  California  38.487824 -122.706582
3012  Santa Rosa  California  38.492007 -122.699605
3013  Santa Rosa  California  38.489987 -122.693662
3014  Santa Rosa  California  38.487145 -122.693050
3015  Santa Rosa  California  38.482079 -122.704741

[3016 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

             city     state   latitude  longitude
0       Baltimore  Maryland  39.370452 -76.705685
1       Baltimore  Maryland  39.370347 -76.705766
2       Baltimore  Maryland  39.362133 -76.704196
3       Baltimore  Maryland  39.362061 -76.703829
4       Baltimore  Maryland  39.362147 -76.704104
...           ...       ...        ...        ...
121291  Baltimore  Maryland  39.236693 -76.610903
121292  Baltimore  Maryland  39.236642 -76.610763
121293  Baltimore  Maryland  39.232128 -76.596123
121294  Baltimore  Maryland  39.324383 -76.634971
121295  Baltimore  Maryland  39.281416 -76.615907

[121296 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

          city     state   latitude  longitude
0      Detroit  Michigan  42.313624 -83.131431
1      Detroit  Michigan  42.397312 -83.085051
2      Detroit  Michigan  42.397070 -83.085716
3      Detroit  Michigan  42.437857 -83.174298
4      Detroit  Michigan  42.315706 -83.092432
...        ...       ...        ...        ...
20958  Detroit  Michigan  42.352792 -83.062373
20959  Detroit  Michigan  42.353034 -83.065138
20960  Detroit  Michigan  42.352760 -83.065811
20961  Detroit  Michigan  42.351866 -83.068311
20962  Detroit  Michigan  42.350538 -83.067799

[20963 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (4,38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (18,20,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

           city   state   latitude   longitude
0        Kailua  Hawaii  21.370081 -157.730577
1      Honolulu  Hawaii  21.291990 -157.854359
2      Honolulu  Hawaii  21.291919 -157.854391
3       Kaneohe  Hawaii  21.404992 -157.784276
4        Kailua  Hawaii  21.386878 -157.733199
...         ...     ...        ...         ...
15435  Honolulu  Hawaii  21.289564 -157.848757
15436  Honolulu  Hawaii  21.334870 -157.838886
15437    Kailua  Hawaii  21.408566 -157.753671
15438    Kailua  Hawaii  21.395790 -157.723804
15439  Honolulu  Hawaii  21.288721 -157.845238

[15440 rows x 4 columns]
               city     state   latitude  longitude
0     Oklahoma City  Oklahoma  35.484334 -97.528227
1     Oklahoma City  Oklahoma  35.484283 -97.528145
2     Oklahoma City  Oklahoma  35.484225 -97.528066
3     Oklahoma City  Oklahoma  35.484171 -97.527986
4     Oklahoma City  Oklahoma  35.484368 -97.528318
...             ...       ...        ...        ...
9995  Oklahoma City  Oklahoma  35.447132 -97.521513
9996  Oklahoma City  Oklahoma  35.447027 -97.523997
9997  Oklahoma City  Oklahoma  35.447239 -97.523625
9998  Oklahoma City  Oklahoma  35.446950 -97.521661
9999  Oklahoma City  Oklahoma  35.447052 -97.521533

[10000 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (24,25,26,27,28,29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

             city    state   latitude  longitude
0      Cape Coral  Florida  26.585409 -82.012185
1      Cape Coral  Florida  26.585460 -82.012231
2      Cape Coral  Florida  26.585343 -82.012375
3      Cape Coral  Florida  26.585301 -82.012328
4      Cape Coral  Florida  26.585330 -82.012539
...           ...      ...        ...        ...
34282  Cape Coral  Florida  26.575477 -81.982473
34283  Cape Coral  Florida  26.630568 -81.957750
34284  Cape Coral  Florida  26.630567 -81.957768
34285  Cape Coral  Florida  26.630565 -81.957785
34286  Cape Coral  Florida  26.630567 -81.957848

[34287 rows x 4 columns]
        city  state   latitude  longitude
0     Austin  Texas  30.273151  97.736905
1     Austin  Texas  30.273910  97.736577
2     Austin  Texas  30.273360  97.736597
3     Austin  Texas  30.273816  97.736319
4     Austin  Texas  30.273598  97.736167
...      ...    ...        ...        ...
7290  Austin  Texas  30.270410  97.735566
7291  Austin  Texas  30.270277  97.735339
7292  Austin  Texas  30.270214  97.735321
7293  Austin  Texas  30.267638  97.735989
7294  Austin  Texas  30.275058  97.732306

[7295 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (3,31,34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

               city       state   latitude   longitude
0      Garden Grove  California  33.799523 -117.958390
1      Garden Grove  California  33.799516 -117.958315
2      Garden Grove  California  33.796109 -117.958168
3      Garden Grove  California  33.796062 -117.958272
4      Garden Grove  California  33.796029 -117.958384
...             ...         ...        ...         ...
17517  Garden Grove  California  33.783476 -117.959874
17518  Garden Grove  California  33.783576 -117.959599
17519  Garden Grove  California  33.783479 -117.959574
17520  Garden Grove  California  33.783566 -117.959397
17521  Garden Grove  California  33.792683 -117.958870

[17522 rows x 4 columns]
            city       state   latitude   longitude
0      San Diego  California  37.317225 -121.769056
1      San Diego  California  37.317353 -121.770292
2      San Diego  California  37.317364 -121.770225
3      San Diego  California  37.317945 -121.766315
4      San Diego  California  37.316970 -121.766069
...          ...         ...        ...         ...
18385  San Diego  California  37.314300 -121.780055
18386  San Diego  California  37.314271 -121.779739
18387  San Diego  California  37.314341 -121.779261
18388  San Diego  California  37.314362 -121.779138
18389  San Diego  California  37.338371 -121.886251

[18390 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,9,10,21,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

            city     state   latitude  longitude
0       New York  New York  40.723092 -73.844215
1       New York  New York  40.794111 -73.818679
2       New York  New York  40.717581 -73.936608
3       New York  New York  40.713537 -73.934456
4       New York  New York  40.666778 -73.975979
...          ...       ...        ...        ...
683783  New York  New York  40.713211 -73.954944
683784  New York  New York  40.715194 -73.856650
683785  New York  New York  40.620762 -74.136517
683786  New York  New York  40.850828 -73.903115
683787  New York  New York  40.732165 -73.787526

[683788 rows x 4 columns]
                   city       state   latitude   longitude
0      Huntington Beach  California  33.661094 -118.006318
1      Huntington Beach  California  33.661149 -118.006262
2      Huntington Beach  California  33.661231 -118.006165
3      Huntington Beach  California  33.661254 -118.006139
4      Huntington Beach  California  33.661704 -118.005852
...                 ...         ...        ...         ...
55823  Huntington Beach  California  33.750080 -118.018076
55824  Huntington Beach  California  33.749899 -118.018226
55825  Huntington Beach  California  33.749808 -118.018440
55826  Huntington Beach  California  33.749883 -118.018057
55827  Huntington Beach  California  33.749815 -118.017860

[55828 rows x 4 columns]
            city  state   latitude  longitude
0      Arlington  Texas  32.763563 -97.103115
1      Arlington  Texas  32.690654 -97.111814
2      Arlington  Texas  32.657584 -97.129185
3      Arlington  Texas  32.657634 -97.129156
4      Arlington  Texas  32.657684 -97.129184
...          ...    ...        ...        ...
14822  Arlington  Texas  32.735300 -97.079465
14823  Arlington  Texas  32.753457 -97.067498
14824  Arlington  Texas  32.753512 -97.067467
14825  Arlington  Texas  32.763091 -97.058071
14826  Arlington  Texas  32.755888 -97.081141

[14827 rows x 4 columns]
           city     state   latitude  longitude
0       Buffalo  New York  42.896862 -78.832830
1       Buffalo  New York  42.898567 -78.864156
2       Buffalo  New York  42.910152 -78.847752
3       Buffalo  New York  42.880505 -78.851928
4       Buffalo  New York  42.888154 -78.859594
...         ...       ...        ...        ...
132990  Buffalo  New York  42.936612 -78.799253
132991  Buffalo  New York  42.881587 -78.846994
132992  Buffalo  New York  42.924931 -78.893601
132993  Buffalo  New York  42.944252 -78.905692
132994  Buffalo  New York  42.931628 -78.888798

[132995 rows x 4 columns]
          city       state  latitude  longitude
0      Oakland  California  37.80506 -122.27302
1      Oakland  California  37.80506 -122.27302
2      Oakland  California  37.80506 -122.27302
3      Oakland  California  37.80506 -122.27302
4      Oakland  California  37.80506 -122.27302
...        ...         ...       ...        ...
38608  Oakland  California  37.80506 -122.27302
38609  Oakland  California  37.80506 -122.27302
38610  Oakland  California  37.80506 -122.27302
38611  Oakland  California  37.80506 -122.27302
38612  Oakland  California  37.80506 -122.27302

[38613 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

           city       state   latitude   longitude
0      San Jose  California  37.212345 -121.875653
1      San Jose  California  37.221535 -121.876753
2      San Jose  California  37.240715 -121.939853
3      San Jose  California  37.249795 -121.826043
4      San Jose  California  37.250155 -121.826043
...         ...         ...        ...         ...
14231  San Jose  California  37.323806 -121.766394
14232  San Jose  California  37.322624 -121.766359
14233  San Jose  California  37.323267 -121.770612
14234  San Jose  California  37.324045 -121.770419
14235  San Jose  California  37.323296 -121.770391

[14236 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

          city    state   latitude  longitude
0      Decatur  Georgia  33.765270 -84.310026
1      Atlanta  Georgia  33.760350 -84.411408
2      Atlanta  Georgia  33.760299 -84.411408
3      Atlanta  Georgia  33.760017 -84.411435
4      Atlanta  Georgia  33.760017 -84.411507
...        ...      ...        ...        ...
41302  Atlanta  Georgia  33.681360 -84.372460
41303  Atlanta  Georgia  33.681390 -84.372410
41304  Atlanta  Georgia  33.681410 -84.372350
41305  Atlanta  Georgia  33.681430 -84.372310
41306  Atlanta  Georgia  33.681440 -84.372250

[41307 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (9,45) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

           city       state   latitude   longitude
0       Seattle  Washington  47.635207 -122.282080
1       Seattle  Washington  47.597548 -122.310243
2       Seattle  Washington  47.673916 -122.355204
3       Seattle  Washington  47.649141 -122.318952
4       Seattle  Washington  47.613092 -122.344731
...         ...         ...        ...         ...
165618  Seattle  Washington  47.566103 -122.365806
165619  Seattle  Washington  47.566102 -122.365926
165620  Seattle  Washington  47.541454 -122.323142
165621  Seattle  Washington  47.541436 -122.323017
165622  Seattle  Washington  47.541410 -122.322861

[165623 rows x 4 columns]
              city state   latitude  longitude
0          De Soto  Iowa  41.529036 -94.007356
1          De Soto  Iowa  41.527016 -94.010609
2           Newton  Iowa  41.686648 -93.057814
3           Newton  Iowa  41.690123 -93.054330
4           Newton  Iowa  41.689780 -93.053426
...            ...   ...        ...        ...
16870  Coon Rapids  Iowa  41.868845 -94.679445
16871  Coon Rapids  Iowa  41.868712 -94.679204
16872  Coon Rapids  Iowa  41.868668 -94.679319
16873  Coon Rapids  Iowa  41.868813 -94.680392
16874  Coon Rapids  Iowa  41.875106 -94.686082

[16875 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (16,17,18,19,20,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

            city      state   latitude  longitude
0      Cedarburg  Wisconsin  43.299162 -87.997964
1      Cedarburg  Wisconsin  43.300466 -88.003973
2      Cedarburg  Wisconsin  43.298355 -88.003586
3      Cedarburg  Wisconsin  43.298355 -88.003586
4      Cedarburg  Wisconsin  43.298355 -88.003586
...          ...        ...        ...        ...
32255  Milwaukee  Wisconsin  43.058231 -87.981839
32256  Milwaukee  Wisconsin  43.058231 -87.981839
32257  Milwaukee  Wisconsin  43.058233 -87.981825
32258  Milwaukee  Wisconsin  43.058265 -87.981728
32259  Milwaukee  Wisconsin  43.058202 -87.981596

[32260 rows x 4 columns]
           city      state   latitude  longitude
0     Knoxville  Tennessee  35.949415 -83.876681
1     Knoxville  Tennessee  35.948158 -83.875906
2     Knoxville  Tennessee  35.864553 -84.083106
3     Knoxville  Tennessee  35.864405 -84.083294
4     Knoxville  Tennessee  35.864171 -84.083613
...         ...        ...        ...        ...
9995  Knoxville  Tennessee  35.984954 -83.898350
9996  Knoxville  Tennessee  35.985038 -83.898252
9997  Knoxville  Tennessee  35.984907 -83.898416
9998  Knoxville  Tennessee  35.985311 -83.897757
9999  Knoxville  Tennessee  35.985396 -83.897648

[10000 rows x 4 columns]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (15,18,25,32,38,39,40,41,42,45,50,62,63) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

KeyboardInterrupt:

In [46]:
df_final

Empty DataFrame
Columns: [city, state, latitude, longitude]
Index: []

In [31]:
any('latitude' in string for string in coordinates)

False

In [44]:
'latitudes'.find('latitu')

0